<%= form_for(@structure_page) do |f| %>
  <% if @structure_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@structure_page.errors.count, "error") %> prohibited this structure_page from being saved:</h2>

      <ul>
      <% @structure_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br />
  <%= f.text_field :name %><br /><br />

  <%= f.label :content_type_id %><br />
  <%= f.select(:content_type_id, Structure::ContentType.all.collect {|c| [c.name, c._id]}) %><br /><br />

  <div class="actions">
    <%= f.submit %>
  </div><br />
<% end %>
