<h1>Listing Pages</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @structure_pages.each do |structure_page| %>
  <tr>
    <td><%= structure_page.name %></td>
    <td><%= link_to 'Show', structure_page %></td>
    <td><%= link_to 'Edit', edit_structure_page_path(structure_page) %></td>
    <td><%= link_to 'Destroy', structure_page, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_structure_page_path %>
