<div class="field">
 	<%= f.fields_for :fields, field, :index => nil do |f_nested| %>
    	<%= f_nested.label :title %>
    	<%= f_nested.text_field :title %>
    	<%= f_nested.label :type %>
    	<%= f_nested.select(:type, Structure::Field.get_type_options.collect {|f| [f, Structure::Field.get_type_options.index(f)]}) %>
    	<!-- TODO: Fix embedded JS -->
    	<%= link_to_function "(remove)", "$(this).parent().remove()" %>
	<% end %>
</div>