<h1>Listing Contents</h1>

<ul>
<% @contents.each do |content_type| %>
    <li><%= "#{content_type[:name]} (#{content_type[:contents].count})" %><% if content_type[:has_page] %> (<%= link_to 'Show', "/#{content_type[:name].downcase}" %>)<% end %>
      <% if content_type[:contents].count > 0 %>
        <ul>
          <% content_type[:contents].each do |content| %>
            <li><%= content.title %><% if content_type[:has_page] %> (<%= link_to 'Show', content %>)<% end %></li>
          <% end %>
        </ul>
      <% end %>
    </li>
    <!--<td><%= link_to 'Show', content_type %></td>
    <td><%= link_to 'Edit', edit_structure_content_path(content_type) %></td>
    <td><%= link_to 'Destroy', content_type, confirm: 'Are you sure?', method: :delete %></td>-->
<% end %>
</ul>

<br />

<%= link_to 'New Content', new_structure_content_path %>
